.container{
    display: flex;
    justify-content: center;
    width: 85%;
}

@media(max-width:770px){
    .container{
        width:100%;
    }
}

@media(max-width:400px){
    canvas{
        height: 200px !important;
        width: 100% !important;
    }
}
